@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto';
}

code {
    font-family: 'Inconsolata', monospace;
}

.dark-toggle {
    padding: 0;
    border: none;
    background: none;
}
.nav {
    top: 0;
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    text-align: right
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px
}