<!DOCTYPE html>
<html lang="en" data-bs-color-scheme>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">
        <meta name="generator" content="luna's blog">
        <meta name="rating" content="General">
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        {% block meta %}
        {% endblock meta %}
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/output.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f0a57a28d4.js" crossorigin="anonymous"></script>
</head>

<body>
        {% include 'nav' %}
        {% block content %}
        {% endblock content %}
        {% include 'footer' %}
        <script src="/static/js/theme.js"></script>
</body>

</html>