{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es5",
        "parser": {
            "syntax": "ecmascript"
        }
    },
    "env": {
        "targets": "last 1 version"
    },
    "module": {
        "type": "commonjs"
    },
    "minify": true
}
