.mastodon-comment {
	background-color: var(--body-background);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	margin-bottom: 1rem;
	display: flex;

	.content {
		flex-grow: 2;
	}

	.avatar img {
		margin-right: 1rem;
		min-width: 60px;
	}

	.author {
		padding-top: 0;
		display: flex;

		.date {
			margin-left: auto;
		}
	}

	.disabled {
		color: var(--accent-color)
	}
}

.mastodon-comment-content p:first-child {
	margin-top: 0;
}

.MastoHost {
	background-color:  lightgreen;
	border-radius: 9999px;
	color: var(--neutral);
	font-size: smaller;
	font-weight: normal;
	padding: 0.25em 0.75em;

	&:hover {
	  opacity: 0.8;
	  text-decoration: none;
	}
  }


.dark .MastoHost {
	background-color: green;
}

.MastodonUsername {
	background-color:  lightcyan;
	border-radius: 9999px;
	color: var(--neutral);
	font-size: smaller;
	font-weight: normal;
	padding: 0.25em 0.75em;

	&:hover {
	  opacity: 0.8;
	  text-decoration: none;
	}
}

.mastodon-comment-content p {
    display: block;
}

.mastodon-comment-content img {
    display: inline;
}

.dark .MastodonUsername {
	background-color:blue;
}
